
body{
    text-align: center;
}

#main-tag{
    background-color: red;
    padding-bottom: 10px;
    border-radius: 5px;
    width: 210px;
}

#primary-header{
    color: white;
    font-family: Helvetica;
    padding: 0px;
    margin: 0px;
}

p{
    color: white;
    font-family: Helvetica;
    padding: 1px;
    margin: 0px;
    border: 0px;
}

#name{
    color: black;
    background-color: white;
    font-family: "Brush Script MT";
    font-size: 30px;
    padding: 0px;
}

#grey-box{
    background-color: lightgrey;
    padding: 2px;
    width: 210px;
}

